.container{
    display: flex;
    border: 1px solid #000000;
    width: 320px;
    height: 400px;
    flex-direction: column;
    margin: auto;
    gap: 12px;
    padding: 20pxs;
}

.caixa{
    height: 40;
}
#button{
    height: 40px;
    background-color: #f8e6fa;
    color: #D8BFD8;
}